<div class="col-cx-12">
  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Items</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let title of itemsTitles">{{title}}</th>
            <td><button class="btn btn-primary">Add Category</button></td>
          </tr>
        </thead>
        <tbody *ngFor="let item of localItems">
          <tr>
            <td title="Category" >
              <input [ngClass]="{'has-error':Category.invalid}"
              type="text" class="form-control" name="cat{{item.id}}"
               #Category="ngModel" [(ngModel)]="item.name" required>
            </td>
            <td colspan="5"></td>
            <td title="Add Item / Remove Category">
              <button class="btn btn-primary">Add Item</button>
              <button  class="btn btn-danger">Remove Category</button>
            </td>

          </tr>
          <tr *ngFor="let items of item['items']">
            <td></td>
            <td title="item" >
              <input [ngClass]="{'has-error':item.invalid}"
              type="text" class="form-control" type="text" name="item{{items.id}}"
              #item="ngModel" [(ngModel)]="items.name" required >
            </td>
            <td title="Gl Code" >
              <input [ngClass]="{'has-error':glCode.invalid}"
              type="text" class="form-control" type="text" name="glCode{{items.glCode}}"
              #glCode="ngModel" [(ngModel)]="items.glCode" required  pattern="^[0-9]+$">
            </td>
            <td title="Amount" >
              <input [ngClass]="{'has-error':amount.invalid}"
              type="text" class="form-control" type="text" name="amount{{items.amount}}"
              #amount="ngModel" [(ngModel)]="items.amount" required pattern="^[0-9]+$">
            </td>
            <td title="Sales Tax" >

            </td>

          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>

  </form>
</div>
